#contact-form {
  max-width: 75.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5em;
    font: 300 100%/1.5 Ubuntu, sans-serif;
    color: #333;
    overflow-x: hidden;
  }
  #contact-form h2 {
    margin: 0;
    color: #8495a5;
    font-size: 2.5em;
    font-weight: 300;
  }
  #contact-form #contact,
  #contact-form label,
  #contact-form input[name="submit"] {
    position: relative;
  }
  #contact-form label > span,
  #contact-form input,
  #contact-form textarea,
  #contact-form button {
    box-sizing: border-box;
  }
  #contact-form label {
    display: block;
  }
  #contact-form label > span {
    display: none;
  }
  #contact-form input,
  #contact-form textarea,
  #contact-form button {
    width: 100%;
    padding: 0.5em;
    border: none;
    font: 300 100%/1.2 Ubuntu, sans-serif;
  }
  #contact-form input[type="text"],
  #contact-form input[type="email"],
  #contact-form textarea {
    margin: 0 0 1em;
    border: 1px solid #ccc;
    outline: none;
  }
  #contact-form input.invalid,
  #contact-form textarea.invalid {
    border-color: #d5144d;
  }
  #contact-form textarea {
    height: 6em;
  }
  #contact-form input[type="submit"],
  #contact-form button {
    background: #a7cd80;
    color: #333;
  }
  #contact-form input[type="submit"]:hover,
  #contact-form button:hover {
    background: #91b36f;
  }
  @media screen and (min-width: 30em) {
    #contact-form h2 {
      margin-left: 26.3736%;
      font-size: 2em;
      line-height: 1.5;
    }
    #contact-form label > span {
      vertical-align: top;
      display: inline-block;
      width: 26.3736%;
      padding: 0.5em;
      border: 1px solid transparent;
      text-align: right;
    }
    #contact-form input,
    #contact-form textarea,
    #contact-form button {
      width: 73.6263%;
      line-height: 1.5;
    }
    #contact-form textarea {
      height: 10em;
    }
    #contact-form input[type="submit"],
    #contact-form button {
      margin-left: 26.3736%;
    }
  }
  @media screen and (min-width: 48em) {
    #contact-form {
      text-align: justify;
      line-height: 0;
    }
    #contact-form:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
    #contact-form h2 {
      margin-left: 26.3736%;
    }
    #contact-form form,
    #contact-form aside {
      vertical-align: top;
      display: inline-block;
      width: 65.4676%;
      text-align: left;
      line-height: 1.5;
    }
    #contact-form aside {
      width: 30.9353%;
    }
  }