/* CSS for the weather section of the website */
  
.title{
    width: 50%;
    text-align: center;
    margin: 10px 20px 30px 20px;
}
.title h2{
    font-size: 2em;
    border-bottom: 2px solid #222;
}
.title h2 span{
    font-size: 1.3em;
    font-weight: bolder;
}